@use '../../../styles/vars';

.form--light {
  background: rgba(vars.$white-writing, .85);
  color: vars.$black-writing;
}

.form--dark {
  background: vars.$very-dark-task-bg;
  color: vars.$white-writing;
}

.header--form {
  display: flex;
  margin: 1rem 0;
  padding: .5rem 0;
  border-radius: 5px;
  overflow: hidden;

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    margin: 0 1rem;
  }

  &__input {
    flex: 1;
    padding: 0;
  }
}