$white-writing: #FFFFFF;
$black-writing: #000000;

$linear-light-header-pink: #D4AFCD;
$linear-light-header-blue: #355691;
$linear-dark-header-pink: #917B8D;
$linear-dark-header-blue: #355691;

$linear-light-body-pink: #F0DCEC;
$linear-light-body-blue: #D6DFEF;
$linear-dark-body-pink: #1E0A19;
$linear-dark-body-blue: #030F24;

$very-light-task-bg: #FFFFFF;
$very-dark-task-bg: #00050D;