@use '../../styles/vars';

.header--form {
  display: flex;
  margin: 1rem 0;
  // not the good radius
  border-radius: 10px;
  overflow: hidden;

  &__btn {
    background: vars.$white-writing;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
  }

  &__input {
    flex: 1;
    border: none;
    padding: 0;
  }
}