@use '../../styles/vars';

.clear {
    width: 100%;
    margin: auto;
    padding: 2px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: vars.$english-red;
    color: white;
    font-size: .8rem;
    border-radius: 5px;
}